#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  padding: 0.25rem 1.5rem;
  border-radius: 6px;
}

div {
  margin-bottom: 30px;
}

.answer-choices {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.selected {
  background-color: #d6dbf5;
}

.correct {
  background-color: #94d7a2;
}

.incorrect {
  background-color: #f8bcbc;
}
