#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  background-color: transparent;
  border: 1px solid black;
  cursor: pointer;
  padding: 0.25rem 1.5rem;
  border-radius: 6px;
}

div {
  margin-bottom: 30px;
}

.answer-choices {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.selected {
  background-color: #d6dbf5;
}

.correct {
  background-color: #94d7a2;
}

.incorrect {
  background-color: #f8bcbc;
}

/* SPINNER */
.spinner {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translateX(-50%) translateZ(0);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-top: 7px solid #e2e7e9;
  border-right: 7px solid #e2e7e9;
  border-bottom: 7px solid #e2e7e9;
  border-left: 7px solid #ccd1d3;
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}
